{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            Customer name: {{customer.name}}
            <br>
            Customer email: {{customer.email}}
            <br>
            Customer contact: {{customer.contact}}
            <br>
            Items purchased: {{noorders}}
            <br>
            <br>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Seller</th>

            </thead>
            <tbody>
                {% for k in orders %}
                {% for key, product in k.orders.items() %}
                {% set discount =(product.discount/100) * product.price|float %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="post">
                    <td> 
                        {{product.color|capitalize}}
                    </td>
                    <td>${{"%.2f"|format(product.price)}}</td>
                    <td> {{product.quantity}} </td>
                    {% if product.discount  %}
                    <td>{{product.discount}} % &nbsp; &nbsp; is {{"%.2f"|format(discount)}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float  %}
                    <td>${{"%.2f"|format(subtotal - discount|round(1,'floor')) }}</td>
                        {% set sellername = sellers[loop.index - 1]  %}
                        <td><a href="{{url_for('rating', seller=sellername, product=product.name)}}" method="post">Please Click to rate!</a></td>
                </a>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  <div class="abc"></div>
  <div class="abc"></div>
  <div class="abc"></div>
</div>
{% endblock content %}